{% extends 'webnode/improve/details_base.html' %}
{% load i18n static auth_tokens %}
{% block meta %}
    <meta name="abstract" content="{{ item.name }} "/>
    <meta property="og:title" content="{{ item.name }} {% trans "sur" %} "/>
    <meta property="og:description" content="{{ item.description }}"/>
    <meta property="og:image" content="{{ item.get_photos_url_list.0 }}"/>
{% endblock %}
{% block page_title %} <title>{{ service.project_name }} - {{ item.name }}</title> {% endblock %}


{% block head_style %}
    {{ block.super }}
    <style>
        .navbar-inverse .navbar-nav > li > a {color: #2e2e2e;}
    </style>
{% endblock %}

{% block blog_content %}
    {% include 'snippets/fb_sdk.html' %}
    <div class="blog-item">
        {% if  item.image %}
        <img class="img-responsive img-blog" src="{{ item.get_photos_url_list.0.small }}" width="100%" alt="" />
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 blog-content">
{#                <h2>{{ item.name  }}</h2>#}
                <div>{{ item.description | safe }}</div>
            </div>
        </div>
    </div><!--/.blog-item-->

    <div class="pull-left post_reply text-center visible-xs">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-google-plus"></i> </a></li>
        </ul>
    </div>
    {% if blog_suggestions %}
        <div class="blog-suggestions">
            <strong>{% trans 'Related posts' %}:</strong>
            <div class="suggestions">
                {% for post in blog_suggestions %}
                    <div class="col-sm-4 suggess">
                        <div class="suggestion" >
                            {% if post.image.name %}
                            <a href="{% url 'blog:details'  post.slug %}" style="background-image:url({{ post.image.url }})"></a>
                            {% endif %}
                            <a href="{% url 'blog:details'  post.slug %}" >{{ post.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="pull-left post_reply text-center hidden-xs">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-google-plus"></i> </a></li>
        </ul>
    </div>
{% endblock %}