{% extends 'webnode/improve/base.html' %}
{% load static auth_tokens %}

{% block page_title %}<title>{{ service.project_name }} - {{ page.title }}</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style class="navbar">
        .navbar-inverse .navbar-nav > li > a {color: #2e2e2e;}
    </style>
{% endblock %}

{% block page_content %}
    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>{{ page.title }}</h2>
			</div>
            <div class="col-xs-12" style="font-size: 20px; line-height: 35px; overflow: hidden;max-width: 100%">
                {{ page.content|safe }}
            </div>
		</div><!--/.container-->
    </section><!--/about-us-->
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('ul.navbar-nav li').removeClass('active');
            $('ul.navbar-nav li.about').addClass('active')
            $('#bottom .container.fadeInDown').css('visibility', 'visible')
        })()
    </script>
{% endblock %}