{% extends 'webnode/improve/base.html' %}
{% load i18n static auth_tokens %}

{% block page_title %}<title>{{ service.project_name }} - {% trans "Home" %}</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        .navbar-inverse .navbar-nav > li > a {color: #FFF}
        section.h-section {padding: 5px 0 130px}
        .home-section.bg-img-true .cta {border-color: #fff; color: #FFF}
        .home-section.bg-img-true .cta:hover {border-color: #f4a135; color: #f4a135}
        .home-section.bg-img-true p, .home-section.bg-img-true div {color: #FFF}
    </style>
{% endblock %}

{% block page_content %}
    {% if slideshow %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            {% if slideshow|length > 1 %}
                <ol class="carousel-indicators">
                    {% for slide in slideshow %}
                    <li data-target="#main-slider" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endfor %}
                </ol>
            {% endif %}
            <div class="carousel-inner">
                <div class="stage">
                {% for slide in slideshow %}
                    {% if slide.image.name %}
                        <div class="item" style="background-image: url({{ slide.image.url }}">
                            <div class="veil"></div>
                            <div class="container">
                                <div class="row slide-margin">
                                    <div class="animation animated-item-4 slide-title">
                                        {{ slide.title }}
                                    </div>
                                    {% if slide.cta %}
                                        <div class="animation animated-item-4 slide-cta">
                                            <a href="{{ slide.target_url }}" class="cta">
                                                {{ slide.cta }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!--/.item-->
                    {% endif %}
                {% endfor %}
                </div>
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        {% if slideshow|length > 1 %}
            <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="next hidden-xs" href="#main-slider" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
    </section><!--/#main-slider-->
    {% endif %}

    {% for section in homepage_section_list %}
        {{ section.render|safe }}
    {% endfor %}

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('ul.navbar-nav li').removeClass('active');
            $('ul.navbar-nav li.home').addClass('active');
            $('.carousel.slide .carousel-inner').find('div.item:first-child').addClass('active');
            $('.carousel.slide .carousel-indicators').find('li:first-child').addClass('active')
        })()
    </script>
{% endblock %}