{% extends "core/base_admin.html" %}
{% load i18n humanize static auth_tokens %}

{% block admin_nav %}
    <div id="admin-nav" class="edge-panel-left">
        <div class="wrapper">
            <div class="stage">
                <div class="menu">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="homepage">
                            {% url 'marketing:banner_list' as banner_list_url %}
                            <a href="{{ banner_list_url }}">{% trans "Homepage" %}</a>
                        </li>
                        <li role="presentation" class="menus">{% url 'marketing:smart_category_list' as smart_category_list_url %}
                            <a href="{{ smart_category_list_url }}">{% trans "Menus" %}</a>
                        </li>
                        <li role="presentation" class="items">{% url 'kako:product_list' as product_url %}
                            <a href="{{ product_url }} ">{% trans "Items" %}</a>
                        </li>

                        <li role="presentation" class="blog">
                            <a href="{% url 'blog:list_blog' %}">{% trans "Blog" %}</a>
                        </li>
                    </ul>

                    {% if perms.accesscontrol.sudo %}
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="subscription-plans">
                                <a href="{% url 'billing:product_list' %}">{% trans "Plans" context "Subscription plans" %}</a>
                            </li>
                            <li role="presentation" class="subscriptions">
                                <a href="{% url 'billing:product_list' %}">
                                    {% trans "Subscriptions" %}
                                </a>
                            </li>
                        </ul>
                    {% endif %}

                    {% if perms.accesscontrol.sudo %}
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if not settings.IS_DELIVERY_COMPANY %}
                            <li role="presentation" class="flatpages">
                                {% url 'ikwen:flatpage_list' as flatpage_list_url %}
                                <a href="{{ flatpage_list_url }}">{% trans "Pages" %}</a>
                            </li>
                            <li role="presentation" class="theming">
                                <a href="{% url 'theming:theme_list' %}">
                                    {% trans "Theming" %}
                                </a>
                            </li>
                            {% endif %}
                            <li role="presentation" class="community">
                                {% url 'ikwen:community' as community_url %}
                                <a href="{{ community_url }}">{% trans "Community" %}</a>
                            </li>
                        </ul>
                        <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            {% if config.is_pro_version %}
                                <li role="presentation" class="payment-means">
                                    <a href="{% url 'billing:payment_mean_list' %}">
                                        {% trans "Payment means" %} <span class="label label-danger">New</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li role="presentation" class="configuration">
                                {% url 'ikwen:configuration' as configuration_url %}
                                <a href="{{ configuration_url }}">{% trans "Configuration" %}</a>
                            </li>
                            <li role="presentation" class="invoices">
                                {% url 'billing:invoice_list' as invoice_list_url %}
                                <a href="{{ invoice_list_url|ikwenize }}" target="_blank">{% trans 'Invoices' %}</a>
                            </li>
                            <li role="presentation" class="service-info">
                                {% url 'ikwen:service_detail' service.id as service_detail_url%}
                                <a href="{{ service_detail_url }}">{% trans "Info & Billing" %}</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}