{% extends 'webnode/dreamer/base.html' %}
{% load i18n staticfiles humanize auth_tokens cache %}

{% block page_title %}
    <title>{% trans page.title %} - {{ service.project_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
	.navbar-nav>li>a, .logo-nav-left a {color: #AAA}
        .navbar-inverse .navbar-nav > li > a {color: #2e2e2e;}
        .flat-page-content {font-size: 20px; line-height: 35px; min-height: 600px; margin-top: 50px;}
        .page-title {margin-top: 5em;}
        .page-content {margin-top: 4em; min-height: 450px; text-align: justify}
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="content">
        <div class="container">
            <h2 class="page-title">{% trans page.title %}</h2>
            <div class="page-content" style="">
                {% trans page.content|safe %}
            </div>
        </div>
    </div>
{% endblock %}
