{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title> {% if category %}{{ category }}{% else %}{% trans "New category" %}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        .verify {border: 1px solid #e74c3c}  {# Highlights form errors (Check performed by javascript) #}
        div#upload-container { float: left; margin-top: 3px; width: 74% }
        div#upload-container .image {background: url('{% static 'ikwen/img/no_photo.png' %}') no-repeat center; background-size: 100%; border: solid 1px #DBE6FF; height: 225px; float: left; margin: 5px; overflow: hidden; width: 280px}
        div#upload-container .image .progress {float: left; background: #3C63FF; height: 10px; margin-top: 228px}
        div#upload-container .image .spinner {margin-top: 90px}
        div#upload-container .uploader {display: none; height: 225px; position: absolute; text-align: center; width: 280px}
        div#upload-container .image:hover .uploader {display: block}
        .qq-uploader {background: rgba(0, 0, 0, .7); height: 40px; padding-top: 8px}
        .qq-upload-button {background: none; border: none; box-shadow: none; color: #fff; text-shadow: none; height: 100px; width: 100%}
        .qq-upload-button-hover {box-shadow: none; color: #fff}
        .qq-upload-list {display: none}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% url 'blog:list_category' as category_list_url %}
        <a href="{{ category_list_url }}">{% trans "Post Categories" %}</a>
    </li>
    {% if category %}
        <li>{{ category.name }}</li>
    {% else %}
        <li>{% trans 'New' %}</li>
    {% endif %}
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
            <form id="submit-category" class="admin-form" method="post">{% csrf_token %}
                {% include 'core/snippets/model_admin_form.html' %}
                <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                    <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .categories').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');

        })()
    </script>
{% endblock %}
