{% extends "core/app_base_admin.html" %}
{% load i18n humanize staticfiles auth_tokens admin_list %}

{% block page_title %}
<title> {% if page %}{{ page.title }}{% else %}{% trans "New page" %}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <style>
        body {background: #f6f6f6}
        #context-search {clear: both; margin: 10px 0 6px 0;}
        #context-search input {width: 270px}
        #stage section {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15)}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% url 'ikwen:flatpage_list' as flatpage_list_url %}
        <a href="{{ flatpage_list_url|append_auth_tokens:request }}">{% trans "Flat pages" %}</a>
    </li>
    {% if page %}
        <li>{{ page.title }}</li>
    {% else %}
        <li>{% trans 'New' %}</li>
    {% endif %}
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            {% url 'ikwen:change_flatpage' as change_flatpage_url %}
            {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
            <form id="submit-page" class="admin-form" method="post" action="{{ change_flatpage_url|append_auth_tokens:request }}">{% csrf_token %}
                <input type="hidden" name="page_id" value="{{ page.id }}" />
                <input type="hidden" name="image_url" id="image_url" value="" />
                {% if page.url == 'about' %}
                    {# Explicitly submitting the url field cause it to stay unchanged regardless of page title #}
                    <input type="hidden" name="url" value="{{ page.url }}" />
                {% endif %}
                {% include 'core/snippets/model_admin_form.html' %}
                {% if page %}
                    <div class="form-group">
                        <label>{% trans "Page URL" %}:</label>
                        <a href="{{ service.url }}{% url 'flatpage' page.url %}" target="_blank" class="text-muted">{{ service.url }}{% url 'flatpage' page.url %}</a>
                    </div>
                {% endif %}
                <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                    <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .flatpages').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
            {% if request.GET.success %}
                {% if page %}
                    ikwen.showFloatingNotice('{% trans "Page successfully updated." %}', '', 6);
                {% else %}
                    ikwen.showFloatingNotice('{% trans "Page successfully added." %}', '', 6);
                {% endif %}
            {% endif %}

            /** Tiny MCE **/
            tinymce.init({
              selector: 'textarea',
              height: 500,
              theme: 'modern',
              plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample'
              ],
              toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
              toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
              image_advtab: true,
              templates: [
                { title: 'Test template 1', content: 'Test 1' },
                { title: 'Test template 2', content: 'Test 2' }
              ],
              content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
              ]
             });
        })()
    </script>
{% endblock %}
